@charset "UTF-8";
/*This CSS theme was done with the help of Katie's (#106445) CSS template, and is for #466371's usage ONLY.
The Lioden user #466371 agrees to not to remove any items from resource credits.*/

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Uncial+Antiqua&display=swap');
body {
	background: url('https://images5.alphacoders.com/113/1132389.jpg') center center fixed;
	background-size: 100%;
	font-family: 'Inknut Antiqua';
	color: #ffffff
}
div.center.b  {
	color: #ffffff !important;
}
.container.main {
	background: none;
	border: none;
	box-shadow: none;
}
.col-md-9 {
	background: none;
}
.topbar {
    margin-top: 10px;
	background: rgba(77,106,145,0.55);
	color: rgba(23,25,26,0.91);
    font-size: 12px;
	border-radius: 10px;
    margin-top: 8px;
}
.navbar li a:hover {
	background: rgba(1, 1, 1, 0.5) !important;
	border-bottom: none;
	color: #ffffff !important;
	border-radius: 5px
}
.navbar {
	background-color: rgba(36,51,101,0.73);
	border-radius: 10px;
    border-bottom: none;
}
.navbar li a {
	color: #ffffff !important
}
.breadcrumb {
	background: rgba(0,0,0,0.5) !important;
        border: none;
	border-radius: 10px;
}
.breadcrumb .active {
	color: rgb(120,164,223);
}
.breadcrumb::after {
        content: "CSS theme by#388963/#171346";
        color: rgba(255,255,255,0.57);
        position: absolute;
        right: 15%;
        z-index: 100     
    }
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }
    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }
    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }
input.floatright {
	background: rgba(36,51,101,0.73) !important;
    border: none !important;
	border-radius: 10px;
	color: rgba(255,255,255,0.86) !important;    
    margin-top: 4px;
} 
input.floatright:hover {
	background: rgba(0,0,0,0.73) !important;
    border: none !important;
	border-radius: 10px;
	color: rgba(255,255,255,0.86) !important;    
    margin-top: 4px;
}
button.button {
	background: rgba(36,51,101,0.73);
        border: none !important;
	border-radius: 10px;
        text-shadow: none !important;
	color: rgba(255,255,255,0.86) !important
}
button.button:hover {
	background: rgba(0,0,0,0.73);
        border: none !important;
	border-radius: 10px;
        text-shadow: none !important;
	color: rgba(255,255,255,0.86) !important
}
.alert,
.alert-warning,
.alert-danger {
	background: rgba(77,106,145,0.55) !important;
	border: none;
	color: #ffffff;
    font-size: 12px;
	border-radius: 10px !important
}
h1 {
	color: #ffffff;
	font-size: 80px;
	text-align: center;
    font-family: 'Uncial Antiqua';
    text-shadow: 0 0 12px rgba(255,255,255,0.78)
}
h2 {
	color: #ffffff;
	font-size: 24px;
	text-align: center
}
h3 {
	color: #ffffff !important;
	font-size: 14px !important;  
}
.sidebar h3 {
	color: #ffffff !important;
    font-size: 20px !important;
    font-family: 'Uncial Antiqua'!important;
    text-shadow: 0 0 12px rgba(255,255,255,0.78);
}
.panel {
	background: rgba(1, 1, 1, 0.5) !important;
	box-shadow: none !important;
	border: none !important;
	color: #ffffff !important;
	border-radius: 10px
}
.progress {
	background: rgba(1, 1, 1, 0.5);
	color: #ffffff !important;
	border-radius: 5px !important
}
.progress-bar {
	background: rgba(84,146,207,0.57);
	color: #ffffff !important;
	border-radius: 5px !important
}
.progress div {
	color: #ffffff !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #000000 !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(1, 1, 1, 0.5) !important;
        color: #000000 !important;
	border: none !important
}
.table {
	background: rgba(1, 1, 1, 0.5);
	border: none !important;
	border-collapse: separate;
	border-radius: 10px
}
.top,
.bottom,
th {
	background: rgba(36,51,101,0.73) !important;
	color: #ffffff !important;
	border-radius: 10px
}
td.bottom a {
        text-decoration: none !important
}
.inner-table .left {
	background: rgba(77,106,145,0.55) !important;
        color: #ffffff;
	border-radius: 10px
}
.inner-table .right {
	background: none;
	border-radius: 10px !important
}
td.right {
	border-radius: 10px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}
.cave-grid,
.mound-grid {
	background: rgba(77,106,145,0.55);
	border: none !important;
	border-radius: 10px !important
}
.feature,
div.left {
	background: rgba(77,106,145,0.55);
	border: none;
	border-radius: 10px !important
}
.table .left {
	background: rgba(1, 1, 1, 0.5);
        border-radius: 10px
}
/*END CHAT*/

input,
select,
textarea {
	background: rgba(255,255,255,0.5) !important;
	border: none !important;
	border-radius: 10px !important;
	color: #000000 !important;
	box-shadow: none !important;
	text-shadow: none !important
}
.item-header {
	background: rgba(36,51,101,0.73) !important;
	color: #ffffff  !important;
	border-radius: 10px !important;
}
.item {
	background: rgba(1, 1, 1, 0.5) !important;
	border: none !important;
	border-radius: 10px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #000000 !important
}

div.slider.round::before /* Circle Part */ {
	background: #000000 !important
}

/* END TOGGLE SLIDERRS */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important;
        font-size: 10px;
}


a:link,
a:visited {
	color: #ffffff !important
}
a:hover {
	color: #c4d4e1 !important
}

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}
div#lion_image {
	opacity: 1
}
table#player img {
	opacity: 1
}

div#lion_image {
	border-radius: 5% !important;
	overflow: hidden;
	margin-top: 25px; 
	margin-left: 12px;
}
table#player img {
	border-radius: 10% !important;
	overflow: hidden
}
div.container.main>div:nth-child(1)>nav>div.navbar-header> a > img {
	content: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1392f2e3-d214-440d-8a97-65e1d6f5a460/dcl68mu-c987e752-20d6-4f99-adca-4e1a3199f50a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEzOTJmMmUzLWQyMTQtNDQwZC04YTk3LTY1ZTFkNmY1YTQ2MFwvZGNsNjhtdS1jOTg3ZTc1Mi0yMGQ2LTRmOTktYWRjYS00ZTFhMzE5OWY1MGEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0QrCi9ED-9yGiVtccHiR2jcsT47X0DdYEwN2obBt45c');
    width: 100px;
}

/* CAVE / MOUND IMAGES */

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('IMAGE URL') !important
}

a[href$="CAVE ID"]>div.cave-grid>img {
	content: url('IMAGE URL') !important
}

a[href$="lionoverview.php?id=PLAYER ID"]>div.cave-grid>img /* Pride Overview */ {
	content: url('IMAGE URL') !important
}

a[href$="unsorted.php?id=PLAYER ID"]>div.cave-grid>img /* Unsorted */ {
	content: url('IMAGE URL') !important
}

.mound-grid img /* Mound(s) */ {
	background: url("IMAGE URL");
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
* 
{cursor: url(https://cur.cursors-4u.net/others/oth-3/oth244.cur), auto !important
}
div#commentBox, div#makeComment, div#commentErrors {
    border: none;
    border-radius: 10px;
    background:rgba(0,0,0,0.6)none!important;
    font-size: 13px;
	color: #ffffff !important;
}
img.floatleft.commentTag.clear {
        border-radius: 5px !important;
        border: none !important;
}
div.comment:nth-child(even) {
        background: rgba(77,106,145,0.55) !important; 
	color: #ffffff !important;
}
div.comment:nth-child(odd) {
        background: rgba(36,51,101,0.73) !important; 
	    color: #ffffff !important;
 }  
input#comment {
        background: rgba(0,0,0,0.6) !important; 
	 color: #ffffff !important;
        border: none !important;
}
input#postComment {
        background: rgba(36,51,101,0.73)!important; 
	color: #ffffff !important;
        border: none !important;
}
div#commentErrors {
        background: rgba(77,106,145,0.55) !important; 
	color: #ffffff !important;
        border: none !important;
}
small.text-muted{
	color: rgb(120,164,223);!important;
}
.feature {
      background:rgba(77,106,145,0.55)  !important;
      color: #ffffff !important;
    }
.feature.auto.center {
      height: auto;
}
#player .top::before {
  content: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb1cc673-1608-44e1-ae22-630cddebb2e3/dbvwp8j-4a55252b-ff14-4a6c-9135-89b3e1e00c72.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiMWNjNjczLTE2MDgtNDRlMS1hZTIyLTYzMGNkZGViYjJlM1wvZGJ2d3A4ai00YTU1MjUyYi1mZjE0LTRhNmMtOTEzNS04OWIzZTFlMDBjNzIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ntl2i3kSNQiVM551-E2slW5SLFLtLoUkGBgBiIk1p7k');
  margin-right: 2px;
}
.container.main::before {
  content: 'Wallpaper by Thomas du Crest (Alphacoders). Logo replacer by RariDecor; Cat pixel by Forgandal (DeviantArt).';
    background: rgba(36,51,101,0.73);
    border-radius: 10px;
    font-weight: : 100px;
    width: 160px;
  display: block;
  font-size: 10px;
  padding: 10px;
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 5;
}
